<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         
>
    <testsuites>
        <testsuite name="ReCaptcha Library Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="TRUE" processUncoveredFilesFromWhitelist="TRUE">
            <directory suffix=".php">src</directory>            
            <exclude>
                <directory suffix=".php">vendor</directory>    
                <file>src/DevStrefa/ReCaptcha/Senders/SenderInterface.php</file>            
            </exclude>
        </whitelist>
    </filter>
    
</phpunit>
